.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.027);
}

.card img {
    max-width: 100%;
    height: 12rem;
    border-radius: 4px;
    object-fit: contain;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}